
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");
  background-repeat: repeat;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  vertical-align: bottom;
  fill: #39add1;

}

a:hover {
  color: #3388a2;
  fill: #3388a2;
}


header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;

}

header nav ul li {
  display: block;
  text-align: center;
}

ul{
  list-style-type: none;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}



/* --------------------------
  NAV and HEADER
--------------------------- */
.nav_icon{
  display: inline-block;
  margin-right: .33em;
  transition: transform .3s ease;
}

a:hover .nav_icon{
  transform: rotate(-15deg) scale(1.1);

}
.icon {
  display: block;
  margin: 1em;
}

.logo {
  width: 140px;
  height: 120px;
  overflow: visible;
}
.st1{
  display: none;
}

.logo_text{
  color: #EAAA7F;
}
.paw_print{
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.paw_text{
  transform-origin: 50% 85%;
  transform-box: fill-box;
}

.logo:hover .paw_print{
  animation: highFive 1s cubic-bezier(1,-0.38,.28,1.35) forwards;
}
.logo:hover .paw_text{
  animation: highFiveText 1s cubic-bezier(1,-0.38,.28,1.35) forwards;
}

  /* --------------------------
    Corgi SVGs
  --------------------------- */


.corgi_faces{
  display: inline-block;
  margin: 0 .5em;
}
.corgi_colors{
  text-align: left;
  padding-left: 2.5em;
  margin-top: -.25em;
  color: #ba8058;

}
.sable{
  color:#b97f5b;
}
.fawn{
  color: #e9aa82;
}
.red{
  color: #834b29;
}
.stone{

  color: #52595F;
}

/* --------------------------
  Keyframes
--------------------------- */
@keyframes highFive {
  0%{
    transform: scale(0) rotate(15deg);

  }
  80% {
    transform: scale(1.1) rotate(-15deg);
  }

}

@keyframes highFiveText {

  80% {
    transform: rotate(25deg);
  }

}

/* --------------------------
MEDIA QUERIES
--------------------------- */
@media (min-width: 425px){
  #container {
    width: 85%;
  }
  header nav ul li {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
  }

  .st1{
    display: initial;
  }
  .logo_text{
    display: none;
  }
}
